extends layout

block content
  h1 Chatter
  //h1 #{locals.page}
  //h1 #{locals.title}

  - if (page == 'login')
    h2 Login 
      span.gray with your ldap username
    div
      form(action="/login", method="POST")
        input(name="username", type="text")
        input(type="submit", value="Login!")

  - else
    - if (locals.error)
      p(style="color: red; font-weight: bold") ERROR: #{error}
      
    p
      span
        a(href="/home") Home
        &nbsp;&nbsp;/&nbsp;&nbsp;
        a(href="/logout") Logout

    - if (page == 'home')
      p Hello, #{username}.
      h3 Topics started by you:
      each topic in user_topics
        p(style="margin:0; padding:0") Topic: 
          a(href="/topic/moderate/#{topic.id}") #{topic.name}

      h3 Questions by you:
      each question in user_questions
        p(style="margin:0; padding:0") #{question.topic_name} / #{question.topic_creator} / #{question.text}

      br
      div
        form(action="/topic/watch", method="POST")
          input(name="name", type="text")
          input(type="submit", value="Watch topic!")
      div
        form(action="/topic/create", method="POST")
          input(name="name", type="text")
          input(type="submit", value="Create topic!")

    - else if (page == 'watch')
      h1 Topic: #{topic.name}
      h1 Creator: is #{topic.creator}
      br
      span Error: 
      span(id="error", style="color: red; font-weight: bold") none
      br
      span Notice: 
      span(id="notice", style="color: green; font-weight: bold") none
      br
      br

      div
        form(action="/submit-question", method="POST")
          input(name="topic_id", type="hidden", value="#{topic.id}")
          input(name="question", type="text", id="new-question")
          input(type="submit", value="Submit question")

    - else if (page == 'moderate')
      //p This is the moderate page
      h1 Topic: #{topic.name}
      h1 Creator: you!
      //p Topic ID is #{topic.id}
      h1(class="gray") USERS TYPING
      div(id="users-typing")
      br
      h1(class="gray") QUESTIONS
      div(id="questions")
